/** {
  outline: solid 1px red
}*/

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.page-wrapper {
  background-color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: 'Open Sans', arial, sans-serif;
}

.title-bar-wrapper {
  height: 70px;
  width: 100%;
  border-bottom: solid 1px #ddd;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.title-bar-wrapper a {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-decoration: none;
  margin-top: 24px;
  margin-left: 20px;
}

.title-bar-wrapper button {
  font-size: 20px;
  float: right;
  margin-top: 24px;
  margin-right: 20px;
}

.side-bar-wrapper {
  width: 250px;
  height: calc(100% - 70px);
  transform: translateX(-250px);
  transition: transform 0.5s ease;
  position: relative;
  will-change: transform;
  z-index: 1000;
  overflow-y: scroll;
  background-image: url('http://lorempixel.com/1024/760/nature/3/');
  background-size: cover;
  background-attachment: fixed;
}

.side-bar-active .side-bar-wrapper {
  transform: translateX(0);
}

.theme-list {
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.theme-list li {
  list-style: none;
}

.theme-list li a {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  display: block;
  padding: 9px 15px;
  text-shadow: 1px 0 1px #888;
  text-decoration: none;
}

.content-area-wrapper {
  width: 100vw;
  height: calc(100% - 70px);
  position: absolute;
  top: 70px;
  vertical-align: top;
}

.article-list-wrapper {
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.5s ease;
  vertical-align: top;
  will-change: transform;
}

.top-article-slider-wrapper {
    width: 100%;
}

.top-article-slider-wrapper iframe {
  height: 53.2vw;
  width: 100%;
}

.article-list {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
  position: absolute;
}

.article-item {
  list-style: none;
  vertical-align: middle;
}

.article-item a {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.4;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
  overflow: auto;
}

.article-item a span {
  float: left;
  width: calc(100% - 90px);
}

.article-item a iframe {
  float: right;
  width: 80px;
  height: 60px;
}

.side-bar-active .article-list-wrapper {
  transform: translateX(250px);
}

.article-detail-wrapper {
  width: 100vw;
  height: calc(100% - 70px);
  position: fixed;
  top: 70px;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  will-change: transform;
  background-color: white;
  overflow: hidden;
}

.article-detail-active {
  transform: translateX(0);
}

.side-bar-active .article-detail-active {
  transform: translateX(250px);
}

.article-detail-wrapper button {
  position: fixed;
  z-index: 700;
}

.article-detail {
  height: 0;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 155%
}

.article-detail iframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40%;
  background-color: white;
  will-change: transform;
  position: absolute;
  z-index: 500;
}

.footer-wrapper {

}
