/** {
  outline: solid 1px red
}*/

html {
  overflow: hidden;
}

body {
  overflow: auto;
}

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.page-wrapper {
  background-color: white;
  font-size: 14px;
  width: 100%;
  height: 100%;
  position: fixed;
  font-family: 'Open Sans',arial,sans-serif;
}

.title-bar-wrapper {
  height: 50px;
  width: 100%;
  border-bottom: solid 1px #ddd;
}

.title-bar-wrapper a {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-decoration: none;
  margin-top: 12px;
  margin-left: 20px;
}

.title-bar-wrapper button {
  font-size: 20px;
  float: right;
  margin-top: 10px;
  margin-right: 20px;
}

.side-bar-wrapper {
  width: 250px;
  height: calc(100% - 50px);
  transform: translateX(-250px);
  transition: transform 0.5s ease;
  position: relative;
  will-change: transform;
  z-index: 1000;
  overflow-y: scroll;
  background-image: url('http://lorempixel.com/1024/760/nature/3/');
  background-size: cover;
  background-attachment: fixed;
}

.side-bar-active .side-bar-wrapper {
  transform: translateX(0);
}

.theme-list {
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;
}

.theme-list li {
  list-style: none;
}

.theme-list li a {
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  display: block;
  padding: 10px 15px;
  text-shadow: 1px 0 1px #888;
  text-decoration: none;
}

.content-area-wrapper {
  width: 100vw;
  height: calc(100% - 50px);
  position: absolute;
  top: 50px;
  vertical-align: top;
}

.article-list-wrapper {
  width: 100%;
  height: 100%;
  transform: translateX(0);
  transition: transform 0.5s ease;
  vertical-align: top;
  will-change: transform;
}

.article-list {
  height: calc(100% - 40px);
  padding-left: 0;
  margin-left: 20px;
  margin-right: 20px;
  overflow-y: scroll;
}

.article-item {
  list-style: none;
}

.article-item a {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.4;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
}

.side-bar-active .article-list-wrapper {
  transform: translateX(250px);
}

.article-detail-wrapper {
  width: 100vw;
  height: calc(100% - 50px);
  position: fixed;
  top: 50px;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  will-change: transform;
  background-color: white;
}

.article-detail-active {
  transform: translateX(0);
}

.side-bar-active .article-detail-active {
  transform: translateX(250px);
}

.article-detail-wrapper button {
  position: fixed;
}

.article-detail {
  height: calc(100% - 40px);
  margin: 20px 20px;
  overflow: scroll;
}

.footer-wrapper {

}
.article-detail-iframe {
  position: absolute;
}
