/** {
  outline: solid 1px red
}*/

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.app-wrapper {
  font-size: 14px;
  width: 100vw;
  height: 100%;
  font-family: 'Open Sans', arial, sans-serif;
  position: absolute;
  left: 0;
  transition: left 0.5s ease;
}

.side-bar-active {
  left: 60vw;
}

.side-bar {
  width: 60vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: -60vw;
  background-image: url("/img/sidebar.jpg");
  background-size: cover;
  background-position: center;
  transition: left 0.5s ease;
  z-index: 1000;
}

.side-bar h1 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin: 40px 35px;
}

.side-bar-active .side-bar{
  left: 0;
}

.theme-list {
  padding-left: 0;
  margin: 30px 20px;
}

.theme-list li {
  list-style: none;
}

.theme-list li a {
  color: white;
  font-size: 16px;
  line-height: 1.4;
  display: block;
  padding: 12px 15px;
  text-decoration: none;
}

.main{
  width: 100vw;
}

.title-bar {
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transition: left 0.5s ease;
  z-index: 1;
}

.side-bar-active .title-bar{
  left: 60vw;
}

.title-bar button {
  display: block;
  position: absolute;
  color: white;
  font-size: 20px;
  margin-top: 18px;
}

.title-bar a {
  text-align: center;
  clear: left;
  display: block;
  width: 100%;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin-top: 18px;
}

.top-article-slider {
  width: 100%;
  height: 200px;
}

.top-article-slider a {
  width: 100%;
  height: 200px;
  display: block;
}

.top-article-slider iframe {
  height: 200px;
  width: 100%;
}

.article-list {
  padding-left: 0;
  margin: 0 14px;
}

.article-item {
  list-style: none;
}

.article-item a {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.4;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
  overflow: auto;
}

.article-item a span {
  float: left;
  width: calc(100% - 90px);
}

.article-item a iframe {
  float: right;
  width: 80px;
  height: 60px;
}

.article-detail-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease;
  overflow: hidden;
  z-index: 500;
  background: white;
}

.article-detail-active {
  transform: translateX(0);
}

.article-detail-wrapper button {
  position: absolute;
  z-index: 1000;
}

.article-detail {
  height: 100%;
  position: relative;
}

.article-detail iframe {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

.loading-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40%;
  background-color: white;
  position: absolute;
  z-index: 2000;
}

.footer {
  text-align: center;
}
