/** {
  outline: solid 1px red
}*/

html,
body,
#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app-wrapper {
  font-size: 14px;
  width: 100vw;
  height: 100%;
  font-family: 'Open Sans', arial, sans-serif;
  position: absolute;
  left: 0;
}
/*app wrapper cannot move with side bar, it will hide side bar on iphone. So side bar, title bar and main need to move separately. It seems the app wrapper is the active area on iphone screen. Don't know why!!!TODO*/

.side-bar {
  width: 60vw;
  height: 100%;
  position: fixed;
  top: 0;
  left: -60vw;
  background-color: #222;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease;
  z-index: 1000;
}
/*translate3d is way faster than left on iphone. 100% percentage is relative to the div width not the parent div width!!!*/

.side-bar h1 {
  color: white;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 35px;
}

.side-bar-active .side-bar{
  transform: translate3d(100%, 0, 0);
}

.theme-list {
  padding-left: 0;
  margin: 20px 20px;
}

.theme-list li {
  list-style: none;
}

.theme-list li a {
  color: white;
  font-size: 16px;
  line-height: 1.4;
  display: block;
  padding: 12px 15px;
  text-decoration: none;
}

.title-bar {
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease;
  z-index: 1;
}
/*title bar needs to be fixed. if put title bar in main and main has transfrom transition. title bar will no longer fix. It's an apple issue. Not certain!TODO*/

.side-bar-active .title-bar{
  transform: translate3d(60%, 0, 0);
}

.title-bar button {
  display: block;
  position: absolute;
  color: white;
  font-size: 20px;
  margin-top: 16px;
  margin-left: 5px;
}

@keyframes appear {
  0% {opacity: 0}
  100% {opacity: 1}
}

.button-back {
  animation: appear 0.3s ease;
  animation-fill-mode: backwards;
  animation-delay: 0.3s;
}

.title-bar a {
  text-align: center;
  clear: left;
  display: block;
  width: 100%;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin-top: 21px;
}

.main{
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease;
}

.side-bar-active .main{
  transform: translate3d(60%, 0, 0);
}

.top-article-slider {
  width: 100%;
  height: 200px;
}

.top-article-slider a {
  width: 100%;
  height: 200px;
  display: block;
}

.top-article-slider iframe {
  height: 200px;
  width: 100%;
}

.article-list {
  padding-left: 0;
  margin: 0 14px;
}

.article-item {
  list-style: none;
}

.article-item a {
  color: rgb(51, 51, 51);
  font-size: 14px;
  line-height: 1.4;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-bottom: solid 1px #ddd;
  overflow: auto;
}

.article-item a span {
  float: left;
  width: calc(100% - 90px);
}

.article-item a iframe {
  float: right;
  width: 80px;
  height: 60px;
}

.article-detail-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  overflow: hidden;
  z-index: 500;
  background: white;
}

.article-detail-active {
  transform: translateX(0);
}

.article-detail {
  height: 100%;
  position: relative;
}

.article-detail iframe {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}
/*iframe sometimes appear high, somtimes low. Cannot add buttons in the same parent! Don't know why. TODO*/

.loading-wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 40%;
  background-color: white;
  position: absolute;
  z-index: 2000;
}

.footer {
  text-align: center;
}
